.container {
    width: 95%;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    margin-top: 1.3vw;
    margin-bottom: 1.3vw;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 2;
}



/* Logo page */
.left {
    position: absolute;
    left: 0;
}

.leftLogo {
    width: 10vw;
    height: auto;
}



/* Function nav bar */
.function {
    width: 100%;
    /* height: 42px; */
    height: 2.5vw;
    margin-left: 20vw;
    margin-right: 20vw;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 2.1vw;
    /* border-radius: 30px; */
    position: relative;
}

.function::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.20);
    /* border-radius: 30px; */
    border-radius: 2.1vw;
    z-index: 0;
}

.functionTitle {
    display: flex;
    /* padding: 0 16px; */
    /* padding: 0 0.5vw; */
    align-items: center;
    z-index: 1;
    cursor: pointer;
}

.functionTitleText {
    font-size: 0.85vw;
    font-weight: 500;
    /* line-height: 40px; */
    line-height: 2.5vw;
    color: var(--text-black-color);
}

.downItem {
    /* margin-left: 0.6rem; */
    margin-left: 0.6vw;
    width: 1vw;
    height: 1vw;
}



/* Join us + change mode */
.right {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.btn {
    display: flex;
    width: fit-content;
    /* height: 42px; */
    /* height: 3vw; */
    height: 2.5vw;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding-left: 1.4vw;
    padding-right: 1.4vw;
    align-items: center;
    justify-content: center;
    /* border-radius: 100px; */
    border-radius: 10vw;
    border: 1px white solid;
    background: var(--primary-background);
    /* background: linear-gradient(90deg, #FE91EC 0%, #3838FF 100%); */
    position: relative;

}

.btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-background);
    /* border-radius: 100px; */
    border-radius: 10vw;
    border: 1px white solid;
    box-shadow: 1px 1px 1px;
    /* filter: blur(7px); */
    filter: blur(0.5vw);
    z-index: 0;
}

.btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* border-radius: 100px; */
    border-radius: 10vw;
    border: 1px white solid;
    z-index: 1;
}

.btnStar {
    z-index: 1;
}

.btnStar svg {
    width: 1.6vw;
    height: 1.6vw;
}

.btnText {
    color: white;
    font-weight: 700;
    /* font-size: 18px; */
    font-size: 0.9vw;
    /* margin-left: 10px; */
    margin-left: 1vw;
    z-index: 1;
}

.modeChange {
    /* width: 42px;
    height: 42px; */
    width: 2.5vw;
    height: 2.5vw;
    display: flex;
    /* margin-left: 20px; */
    margin-left: 1vw;
    justify-content: center;
    align-items: center;
    border-radius: 0.4vw;
    border: 1px white solid;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.modeChange svg {
    width: 1.5vw;
    height: 1.5vw;
}

.modeChange::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-background);
    /* border-radius: 12px; */
    border-radius: 0.4vw;
    /* border-radius: 1vw; */
    border: 1px white solid;
    box-shadow: 1px 1px 1px;
    /* filter: blur(6px); */
    filter: blur(0.5vw);
    z-index: 0;
}

.modeChange::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border-radius: 1vw;
    border: 1px white solid;
    z-index: 1;
}

.modeChangeItem {
    z-index: 1;
}



/* Responsive */
/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {

    .functionTitle {
        /* background: green; */
        /* padding: 0 5px; */
        /* padding: 0 2px; */
        /* display: none; */
    }

    .btnText {
        /* font-size: 1.4vw; */
    }

    .modeChange {
        /* margin-left: 10px; */
    }
}



/* Responsive */
/* Mobile: width < 740px */
/* @media only screen and (max-width: 46.1875em) {} */

/* Tablet: width >= 740px and width < 1024px */
/* @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {} */