.container {
    width: 100%;
    display: flex;
    overflow: hidden;
    padding: 8vw 0;
}

.starImg {
    width: 2vw;
    height: 2vw;
    margin-right: 2vw;
}

.text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 5vw;
    font-weight: 700;
    background: var(--primary-background);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slide 20s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(15%);
    }

    100% {
        transform: translateX(-100%);
    }
}